@import "foundation/components/panels";

body#welcome{
  background: image-url("books_background.jpg");
  background-position: cover;
}


.semitransparent{
  @include panel(
      // Sets the panel background color. Default: $panel-pg
      $bg:orange,
      // Sets the panel padding amount. Default: $panel-padding
      $padding:20px,
      // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
      $adjust:true
    );
  background-color:rgba(255, 255, 255, 0.9)
}
